.advantages {
  padding-top: 40px;

  .advantages__slogan {
    position: relative;
    margin: 0;
    margin-bottom: 29px;
    text-align: center;
    color: @light-gray;
    z-index: 5;
    .font(24px; 29px; 300);
  }

  .advantages__list {
    padding-top: 73px;
    background-color: @gray;
  }

  .advantages__item {
    margin-bottom: 37px;
  }

  .advantages__title {
    margin-bottom: 20px;
    text-align: center;
    color: @black;
    .font(18px; 10px; 700);
  }

  .advantages__description {
    margin: 0 auto;
    width: 260px;
    text-align: center;
    color: @light-gray;
    letter-spacing: 0.3px;
    .font(14px; 24px; 400);
  }

  .advantages__smile-photo {
    margin-top: 40px;
    margin-right: 81px;
    margin-bottom: 50px;
    margin-left: 82px;
    background-color: @gray;
  }

  .advantages__smile-photo:first-child,
  .advantages__smile-photo:nth-child(2) {
    display: none;
  }

  .advantages__wrapper {
    position: relative;
    background-color: @gray;
  }

  .advantages__wrapper::before {
    position: absolute;
    content: "";
    width: 320px;
    height: 102px;
    top: -64px;
    left: 0;
    background-image: url("../img/bg-triangle-white.svg");
    background-repeat: no-repeat;
  }
}

@media (min-width: @tablet-width) {
  .advantages {
    padding-top: 23px;

    .advantages__slogan {
      margin: 0;
      .font(40px; 48px; 300);
    }

    .advantages__slogan:nth-child(3) {
      padding: 0 40px;
      margin-bottom: 50px;
    }

    .advantages__wrapper {
      display: flex;
      background-color: @gray;
    }

    .advantages__wrapper::before {
      width: 660px;
      top: -42px;
    }

    .advantages__list {
      padding-top: 60px;
      order: 2;
    }

    .advantages__item {
      margin-bottom: 40px;
    }

    .advantages__title {
      text-align: left;
    }

    .advantages__description {
      text-align: left;
      width: 310px;
      letter-spacing: 0.3px;
    }

    .advantages__smile-photo {
      position: relative;
      margin-top: 1px;
      margin-right: 43px;
      margin-bottom: -5px;
      margin-left: 20px;
      padding-top: 0;
      padding-right: 0;
      padding-left: 0;
      background-color: transparent;
      z-index: 6;
    }
  }
}

@media (min-width: @desktop-width) {
  .advantages {
    margin-top: -45px;
    padding-top: 0;
    padding-bottom: 2px;

    .advantages__slogan {
      .font(50px; 60px; 300);
    }

    .advantages__slogan:nth-child(3) {
      padding: 0 240px;
      margin-bottom: 76px;
    }

    .advantages__item {
      width: 239px;
    }

    .advantages__title {
      margin-bottom: 24px;
      text-align: center;
      color: @black;
      .font(30px; 30px; 700);
    }

    .advantages__description {
      width: 239px;
      text-align: center;
      letter-spacing: 0.4px;
      .font(18px; 30px; 400);
    }

    .advantages__smile-photo {
      margin: 0 auto;
      padding: 0;
    }

    .advantages__smile-photo:first-child,
    .advantages__smile-photo:nth-child(2) {
      display: block;
    }

    .advantages__photo-wrapper {
      display: flex;
      justify-content: space-between;
      width: 965px;
      margin: 0 auto;
      margin-bottom: 18px;
    }

    .advantages__list {
      display: flex;
      justify-content: space-between;
      width: 880px;
      margin: 0 auto;
      padding-top: 2px;
    }

    .advantages__wrapper {
      flex-wrap: wrap;
    }

    .advantages__wrapper::before {
      width: 1200px;
      top: 0;
    }
  }
}
