.competition {
  padding-top: 36px;
  padding-right: 20px;
  padding-bottom: 39px;
  padding-left: 20px;
  text-align: center;
  color: @white;
  .font(24px; 29px; 300);
}

@media (min-width: @tablet-width) {
  .competition {
    .font(50px; 60px; 300);
  }
}

@media (min-width: @desktop-width) {
  .competition {
    padding-right: 80px;
    padding-left: 80px;
  }
}
