.download {
  padding-top: 110px;
  padding-right: 60px;
  padding-bottom: 28px;
  color: @white;
  .font(14px; 24px; 300);
  .download__downloading {
    .font(18px; 18px; 700);
    color: @white;
  }
}
