.footer-photo {
  .footer-photo__logo {
    width: 150px;
    margin: 0 auto;
  }

  .social__list {
    width: 200px;
    display: flex;
    .list-reset();
    margin: 0 auto;
  }

  .footer-photo__copyright {
    width: 200px;
    margin: 0 auto;
  }
}

@media (min-width: @tablet-width) {
  .footer-photo {
    display: flex;
  }
}
