.footer {
  display: none;
  width: 320px;
  margin: 0 auto;
}

@media (min-width: @tablet-width) {
  .footer {
    width: 660px;
    display: flex;
    padding-top: 35px;
    padding-bottom: 30px;

    .footer__logo {
      display: block;
      margin-top: -3px;
    }

    .footer__logo svg {
      fill: @light-gray;

      &:hover {
        fill: @dark-red;
      }

      &:active {
        fill: @light-gray;
        opacity: 0.3;
      }
    }

    .footer__logo svg:nth-child(2) {
      display: none;
    }

    .footer__copyright {
      display: flex;
      margin-top: 14px;
    }

    .copyright__link {
      margin-top: -2px;
      fill: @dark-red;

      &:hover {
        fill: @light-gray;
      }

      &:active {
        opacity: 0.3;
      }
    }

    .copyright__text {
      height: 18px;
      margin-top: 3px;
      margin-right: 16px;
      color: @light-gray;
      .font(14px; 18px; 400);
    }

    .footer__social {
      margin: 0 auto;
    }

    .social__list {
      display: flex;
      flex-wrap: wrap;
      width: 200px;
      .list-reset();
    }

    .social__item {
      width: 46px;
      height: 46px;
      margin-right: 11px;
      margin-bottom: 10px;
      border: 3px solid rgba(40, 70, 69, 0.1);
      border-radius: 50%;

      &:hover {
        border-color: @light-gray;
      }

      &:active {
        border-color: rgba(40, 70, 69, 0.1);
      }
    }

    .social__link {
      fill: @dark-red;

      &:active {
        fill: rgba(210, 40, 86, 0.3);
      }
    }

    .social__link--twitter {
      display: block;
      margin-top: 12px;
      margin-left: 15px;
    }

    .social__link--facebook {
      display: block;
      margin-top: 13px;
      margin-left: 19px;
    }

    .social__link--utub {
      display: block;
      margin-top: 10px;
      margin-left: 18px;
    }
  }

  .footer-wrapper {
    display: flex;
    justify-content: space-between;
    width: 620px;
    margin: 0 auto;
  }
}

@media (min-width: @desktop-width) {
  .footer {
    width: 1200px;
    padding-top: 70px;
    padding-bottom: 70px;

    a.footer__logo {
      margin: 0;
      margin-top: -3px;
    }

    .footer__logo svg:first-child {
      display: none;
    }

    .footer__logo svg:nth-child(2) {
      display: block;
    }

    .social__list {
      margin-left: 25px;
    }

    .copyright__text {
      .font(18px; 18px; 400);
    }

    .footer__social {
      margin: 0 auto;
    }
  }

  .footer-wrapper {
    width: 940px;
  }
}
