.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: @light-gray;
  .font(18px; 32px; 300);

  .header__logo {
    height: 66px;
  }
}

@media (min-width: @tablet-width) {
  .header__logo {
    height: 110px;
  }
}
