.header {
  padding-top: 22px;
  padding-right: 225px;
  padding-bottom: 22px;
  padding-left: 20px;
  background-color: @light-gray;
  .font(18px; 32px; 300);
  .site-list__item {
    padding-top: 23px;
    padding-right: 90px;
    padding-bottom: 23px;
    padding-left: 90px;
  }
  .site-list__link {
    color: @white;
  }
}
