.photo-list {
  margin-top: -60px;
  padding-right: 20px;
  padding-left: 20px;

  .photo-list__wrapper {
    background-color: @gray;
  }

  .photo-list__panorama {
    margin-right: 20px;
    margin-bottom: 101px;
    margin-left: 160px;
    color: @white;
    background-color: @dark-red;
    .font(12px; 24px; 700);
  }

  .photo-list__author-name {
    padding-left: 10px;
    font-style: normal;
    color: @light-gray;
    .font(14px; 24px; 700);
  }

  .photo-list__time {
    color: @light-gray;
    .font(12px; 24px; 300);
  }

  .photo-list__text {
    display: block;
    padding-right: 20px;
    padding-left: 10px;
    color: @light-gray;
    .font(14px; 24px; 400);
  }

  .photo-list__like {
    color: @dark-red;
    .font(12px; 24px; 400);
  }

  .photo-list__item {
    margin: 0;
    padding: 0;
    margin-bottom: 40px;
  }

  .photo-list__picture {
    margin-top: -24px;
    margin-bottom: 20px;
  }
}

@media (min-width: @tablet-width) {
  .photo-list {
    display: flex;
    flex-wrap: wrap;
    width: 660px;

    .photo-list__item {
      width: 320px;
      margin-bottom: 20px;

      .photo-list__text {
        padding-right: 50px;
        padding-left: 20px;
      }

      .photo-list__author-name {
        padding-left: 20px;
      }

      .photo-list__time {
        text-transform: uppercase;
        color: @light-gray;
        .font(12px; 24px; 300);
      }
    }

    .photo-list__item:nth-child(2n+1) {
      margin-right: 20px;
    }

    .photo-list__item:nth-child(2) {
      margin-bottom: 40px;
      width: 660px;

      .photo-list__text {
        padding-right: 150px;
      }
    }

    .photo-list__picture {
      margin-top: 0;
    }
  }
}

@media (min-width: @desktop-width) {
  .photo-list {
    width: 1200px;
    padding-right: 130px;
    padding-left: 130px;

    .photo-list__item {
      width: 320px;
      margin-right: 20px;

      .photo-list__author-name {
        padding-left: 25px;
      }

      .photo-list__text {
        padding-left: 25px;
      }
    }

    .photo-list__item:nth-child(2) {
      width: 940px;

      .photo-list__text {
        padding-right: 0;
      }
    }
  }
}
