.photo-list__wrapper {
  background-color: @gray;
}

.photo-list__panorama {
  color: @white;
  background-color: @dark-red;
  .font(12px; 24px; 700);
}

.photo-list__author-name {
  font-style: normal;
  color: @light-gray;
  .font(14px; 24px; 700);
}

.photo-list__time {
  color: @light-gray;
  .font(12px; 24px; 300);
}

.photo-list__text {
  color: @light-gray;
  .font(14px; 24px; 400);
}

.photo-list__like {
  color: @dark-red;
  .font(12px; 24px; 400);
}
